<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to NTUST Bank</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <div class="home-container">
        <h1>Welcome to NTUST Bank</h1>
        <h2>Here is our online banking system.</h2>
        <h2>Features we offer:</h2>
        <ul>
            <li>View account balances</li>
            <li>Deposit money</li>
            <li>Transfer money between accounts, Please use Account Name!</li>
            <li>Secure login and registration</li>
        </ul>
        <div class="highlight">
            <a href="{{ url_for('login') }}" class="form-button">LOGIN</a>
            <a href="{{ url_for('register') }}" class="form-button">REGISTER</a>
        </div>
        <p><a href="{{ url_for('reset_db') }}">Reset Database</a></p>

        <!-- 顯示 flash 訊息 -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>